*.ipch filter=lfs diff=lfs merge=lfs -text
Browse.VC.db filter=lfs diff=lfs merge=lfs -text
opencv_world4100d.dll filter=lfs diff=lfs merge=lfs -text
opencv_world4100d.pdb filter=lfs diff=lfs merge=lfs -text
